body {
  margin-top: 10px;
  margin-bottom: 30px;
}

.joint-input-top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 0 !important;
}

.joint-input-middle {
  border-radius: 0;
  margin-top: 0 !important;
}

.joint-input-bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0 !important;
}

hr {
  margin: 3rem 0;
}

.form-control, .form-select {
  margin-top: 0.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.spinner-border {
  width: 1rem;
  height: 1rem;
  border-width: .15em;
  margin-bottom: 4px;
  vertical-align: middle;
}