body {
  margin-top: 10px;
  margin-bottom: 30px;
}

.joint-input-top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.joint-input-middle {
  border-radius: 0;
}

.joint-input-bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.datepicker {
  text-align: center;
}

hr {
  margin: 3rem 0;
}

.datepicker td {
  padding: 3px 6px;
}

#detailsForm,
#initial-form-invalid,
#files-unsupported,
#defaultImageDisplay,
#submit-fail,
#submit-invalid,
#submit-success,
#show-file-oversized,
.show-image-oversized {
  display: none;
}