<meta charset="UTF-8">
<title>Submit Show - <?php echo $config["organisationName"]; ?></title>
<link rel="preconnect" href="https://cdnjs.cloudflare.com">
<link rel="preconnect" href="https://cdn.jsdelivr.net">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Submit a show for scheduling and automatic upload to Mixcloud.">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.7/css/bootstrap.min.css" integrity="sha512-fw7f+TcMjTb7bpbLJZlP8g2Y4XcCyFZW8uy8HsRZsH/SwbMw0plKHFHr99DN3l04VsYNwvzicUX/6qurvIxbxw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="resources/style.css?version=6">
<noscript>
    <link rel="stylesheet" href="resources/noscript.css">
</noscript>